body {
    background-color: cadetblue;

}

#headerBar {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#resetButton {
    display: flex;
}

#mainBox {
    display: flex;
    justify-content: center;
}

#gridContainer {
    display: flex;
    background-color: gray;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black; 
    min-width: 0;

}

.column {
    flex: 1;
    border: 1px solid black;
    min-width: 0;
}

