:root{
  --rowNum = 16;
  --colNum = 16;
}

#mainBox {
  justify-content: center;
  display: grid;
}
#gridContainer {
  display: grid;
  grid-template-columns: repeat(var(--colNum), auto);
  grid-template-rows: repeat(var(--rowNum), auto);
  height: 600px;
  width: 600px;
}

.gridItem {
  border: 1px solid black;
}